<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/app.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">YelpCamp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
      <!--<li class="nav-item float-right">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item float-right">
        <a class="nav-link" href="/register">SignUp</a>
      </li>!-->
      <li class="nav-item float-right">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<%var count=0%>
<%for(var i=0;i<campground.length;i++){%>
<%if(count==0){%>
<div class="container">
    <h1 style="text-align:center;">Add new comment to <%=campground[i]["Name"]%></h1>
    <div class="row">
        <div style="width=30%; margin:20px auto;">
            <form action="/campgrounds/<%=campground[i]["UserId"]%>/comments" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="comment">
                </div>
                <%for(var i=0;i<cg.length;i++){%>
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[author]" placeholder="author" value="<%=cg[i]["username"]%>">
                </div>
                <%}%>
                <div class="form-group">
                    <button class="btn-md btn-block btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div style="text-align:center;">
        <a href="/campgrounds">Go Back!</a>
    </div>
</div>
<%count++%>
<%}%>
<%}%>